.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 70%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}

.skeleton.image {
  height: 250px;
  width: 250px;
  /* background-size: cover; */
  margin-bottom: 20px;
}

.skeleton.title {
    width: 50%;
    height: 28px;
    margin-bottom: 15px;
}

.skeleton.para {
    width: 90%;
    height: 12px;
    margin: 16px;
}

.skeleton-card {
  box-shadow: 2px 2px 4px grey;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 250px;
}